	<div class='jumbotron'>
		<h4>
			Consulta de Renda e endereço
		</h4>
			<form name="usuarioForm" ng-submit="enviaReq(usuario)">
				<input placeholder="Nome" name="nome" class="form-control" type="text" ng-model="usuario.nome"/></td>
				<input placeholder="CEP" name="cep" class="form-control" type="text" ng-model="usuario.cep" ng-required="true" ng-pattern="/^\d{5}-\d{3}$/">	
				<input placeholder="Renda" name="renda" class="form-control" type="text" ng-model="usuario.renda" ng-required="true" ng-pattern="/^\d*$/">
				<input placeholder="Numero de dependentes" name="numDepen" class="form-control" type="text" ng-model="usuario.numDependentes" ng-required="true" ng-pattern="/^\d*$/"/>
				<button class="btn btn-primary btn-block" ng-disabled="usuarioForm.$invalid">Realizar consulta</button>
			</form>
			<div ng-show="usuarioForm.cep.$error.pattern" class="alert alert-danger">
				O campo CEP deve ter o formato DDDDD-DDD.
			</div>
			<div ng-show="usuarioForm.renda.$error.pattern" class="alert alert-danger">
				O campo renda deve ser composto apenas do valor sem representação ou vírgula (por exemplo 1500 para R$1500,00).
			</div>
			<div ng-show="usuarioForm.numDepen.$error.pattern" class="alert alert-danger">
				O campo numero de dependentes deve ser composto apenas por numeros
			</div>
	</div>